<!DOCTYPE html>
<html>
    <head>

        <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 5px solid #dddddd;
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #dddddd;
            }
            input[type=text] {
                width: 100%;
                padding: 1px 1px;
                margin: 15px 0;
                box-sizing: border-box;
                /*border: 2px solid red;*/
                border-radius: 4px;
            }
        </style>
    </head>
    <body>

        <h2>All Allocated Spaces</h2>
            <div class="column" align="center" >
                 <a href="{{SITE_URL}}/car/dashboard/"><h2>Dashboard</h2></a>
             </div>
        <table>
          <tr>
            <th>Number Plate</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Space ID</th>
          </tr>
            {% for space in allocated_space %}
              <tr>
                <td>{{space.number_plate}}</td>

                <td>{{space.in_time}}</td>
                  <td>{{space.out_time}}</td>
                  <td>{{space.parking_space}}</td>

              </tr>

             <td class="actions item_actions" colspan="4">
                <button type="button" class="btn btn-success btn-lg checkout_space" data-toggle="modal" data-id="{{space.id}}" data-target="#myModal" style="font-size:0.75rem;">
                    Check Out
                </button>
             </td>

        {% endfor %}
        </table>

    </body>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Check Out Car</h4>
                </div>
                <div class="modal-body">
                    <p>You want to check out car from parking </p>
                </div>
                <div class="modal-footer">
                    <a id="checkout-href" href="">
                        <button type="button" class="btn btn-success btn-lg" id="check-out-car">Yes</button>
                     </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>

      </div>
    </div>
</html>

<script>

  $(document).on("click", ".checkout_space", function () {
   var id = $(this).data('id');
   $(".modal-footer #checkout-href").attr("href", "{{SITE_URL}}/car/car-check-out/"+id+"/");
});

$('#check-out-car').click(function(){
   		$('#myModal').modal('hide')
   	 });
</script>