{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <header class="header">
    <h2>Dashboard</h2>
    </header>

  <body>
    <br/>
    <div class="row" align="center">
        <div class="column" align="center" >
         <a href="{{SITE_URL}}/car/allocated-space/"><h2>Allocated Space</h2></a>
        </div>
        <div class="column1" >
          <a href="{{SITE_URL}}/car/empty-space/"><h2>Empty Space</h2></a>

        </div>
    </div>

  </body>
</html>