<!DOCTYPE html>
<html>
    <head>

        <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 5px solid #dddddd;
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #dddddd;
            }
            input[type=text] {
                width: 100%;
                padding: 1px 1px;
                margin: 15px 0;
                box-sizing: border-box;
                /*border: 2px solid red;*/
                border-radius: 4px;
            }
        </style>
    </head>
    <body>
        <h2>All Empty Spaces</h2>
             <div class="column" align="center" >
                 <a href="{{SITE_URL}}/car/dashboard/"><h2>Dashboard</h2></a>
             </div>

        <table>
          <tr>
            <th>Space ID</th>
            <th>Availability</th>
          </tr>
            {% for space in empty_space %}
              <tr>
                <td>{{space.space_id}}</td>

                <td>{{space.is_available}}</td>

              </tr>

            <td class="actions item_actions" colspan="3">
            <button type="button" class="btn btn-success btn-lg allot_space" data-toggle="modal" data-id="{{space.id}}" data-target="#myModal" style="font-size:0.75rem;">
                Allocate Space
            </button>
            </td>

        {% endfor %}
        </table>

    </body>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Allocate Parking Space</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="{{SITE_URL}}/car/car-checkin/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="parking_pk" id="parking_pk">
                        <label for="number-plate">Number Plate</label>
                        <input type="text" name="number_plate" value="" placeholder="Enter Car number" required>
                        <label for="in-time">In Time</label>
                        <input type="time" name="in_time" value="" required>&nbsp;&nbsp;&nbsp;
<!--                        <label for="out-time">Out Time</label>-->
<!--                        <input type="time" name="out-time" value=""></br><br/>-->
                        <button type="submit" value="submit" class="btn btn-success">submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

      </div>
    </div>
</html>

<script>

   $(document).on("click", ".allot_space", function () {
      var id = $(this).data('id');
      $(".modal-body #parking_pk").val( id );
      // As pointed out in comments,
      // it is superfluous to have to manually call the modal.
   });
</script>